@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;800&family=Lato:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
  @apply ml-6 justify-around cursor-pointer flex flex-col w-[22px] h-[22px];
}
.dropdown-text {
  @apply py-1 px-3 text-dropdown-color transition-all duration-300 
  hover:text-dropdown-color  hover:bg-dropdown-hover cursor-pointer;
}
.menu > div {
  @apply bg-menu-color w-[22px] h-[3px];
  transition: transform 0.4s linear, opacity 0.4s linear;
  position: relative;
}
.menu-clicked > div:first-child {
  transform: rotate(45deg);
  transform-origin: 0;
}
.menu-clicked > div:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
  transform-origin: 0;
}
.menu-clicked > div:last-child {
  transform-origin: 1px;

  transform: rotate(-45deg);
}

.menu-button {
  @apply mx-auto w-full  my-6 border border-menu-color py-3 px-8 rounded-[50px] hover:text-brand-red 
  hover:underline transition-colors duration-300;
}

.menu-button-red {
  @apply mx-auto  w-full  my-6 border border-brand-red py-3 px-8 lg:px-4 rounded-[50px]
   text-brand-red hover:bg-brand-red hover:text-white hover:underline transition-colors duration-300;
}
.hexagon {
  @apply relative rounded-3xl;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: 30em;
  height: 30em;
  left: 40%;
  margin-bottom: 20px;
}
.hexagon::before {
  content: '';
  position: absolute;
  background-image: url('https://bosta.co/841cb0d0f210d54dd999cb2ed74eb5a9.png');
  width: 40em;
  height: 34em;
  background-size: cover;
  background-position: 110%;
}
@media (min-width: 829px) {
  .hexagon {
    width: 30em;
    height: 30em;
    left: 50%;
  }
  .hexagon::before {
    width: 40em;
    height: 34em;
  }
}
@media (min-width: 1000px) {
  .hexagon {
    width: 40em;
    height: 40em;
    left: 60%;
  }
  .hexagon::before {
    width: 40em;
    height: 40em;
    background-position: 70%;
  }
}
@media (min-width: 1000px) {
  .hexagon {
    width: 40em;
    height: 40em;
    left: 60%;
  }
  .hexagon::before {
    width: 40em;
    height: 40em;
    background-position: 70%;
  }
}
@media (min-width: 1280px) {
  .hexagon {
    position: absolute;
    width: 40em;
    height: 40em;
    left: unset;
    right: -50px;
    bottom: 0px;
  }
  .hexagon::before {
    width: 40em;
    height: 40em;
    background-position: 45%;
  }
}

.step-item {
  @apply relative flex flex-col justify-center 
  items-center w-20 md:mx-auto -left-3 
lg:flex-row lg:mt-10;
}

.before:before {
  @apply content-[''] bg-slate-200 absolute 
  w-[3px] h-[12vh] right-2/4 top-5 -translate-y-[100%]
  lg:w-[24vw] xl:w-[20vw] 2xl:w-[22vw]  lg:h-[3px];
}

.step {
  @apply bg-white w-10 h-10 flex items-center justify-center relative  z-10 border  border-slate-200 rounded-full font-semibold text-white;
}

.complete .step {
  @apply bg-yellow w-5 h-5;
}
.active .step {
  @apply bg-yellow w-10 h-10;
}

.step-item {
  @apply mb-[10vh] lg:mb-0;
}

.last {
  @apply mb-0;
}
